@model BarberBooking.Models.ViewModels.BookingViewModel
@using Microsoft.AspNetCore.Identity

@{
ViewData["Title"] = "Booking";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if(!Model.HasSelectedResource()) {
  @await Component.InvokeAsync("ResourceList", @Model)
 } else if(!Model.HasSelectedServices()) {
  @await Component.InvokeAsync("ServiceList", @Model)
} else if(!Model.HasSelectedTime()) {
  @await Component.InvokeAsync("SlotList", @Model)
} else {
  
<div class="card">
  <div class="card-body">
    <h4 class="card-title">@Model.Time.Value.ToString("MMM dd"), @Model.Time.Value.ToString("hh:mm") - 12:00 AM</h4>
    <div class="text-muted">
      @Model.Time.Value.ToString("dddd, dd MMMM yyyy")
    </div>
    <p class="card-text">I love quick, simple pasta dishes, and this is one of my favorite.</p>
    <a href="#" class="btn btn-info">Read Recipe</a>
  </div>
  <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
    <div class="views">Oct 20, 12:45PM
    </div>
    <div class="stats">
         <i class="far fa-eye"></i> 1347
      <i class="far fa-comment"></i> 12
    </div>
  </div>
</div>
    }
